@import "./scss/include_media.scss";
@import "./scss/reset.scss";
@import "./fonts/inter/inter.css";
@import "./scss/variables.scss";

body {
    padding: 1rem;
    font-size: 16px;
}

html, body {
    height: 100%;
}
