$breakpoints: (
  phone: 700px
);

@import "./scss/include_media.scss";
@import "./scss/reset.scss";
@import "./fonts/inter/inter.css";
@import "./scss/variables.scss";

body {
    padding: 1rem;
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
}

#app-loading-indicator {
    height: 2rem;
    width: 2rem;
}

#app {
    width: 100vw;
    text-align: center;
    @include media('>phone') {
        text-align: inherit;
        max-width: 20rem;
    }
    
}
.logo {
    background: url('../logo.svg') no-repeat center;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    width: 100%;
    margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
    .loading-indicator {
        filter: invert(1);
    }
}
